<div ng-if="supplier">
<h3 class="text-center">Supplier details</h3>
<ul class="list-unstyled">
  <li class="row"><span class="text-right col-sm-6 col-align-right">Company name: </span><span
      class="col-sm-6 col-align-left">{{supplier.companyName}}</span></li>
  <li class="row"><span class="text-right col-sm-6 col-align-right">Address: </span><span
      class="col-sm-6 col-align-left">{{supplier.address}}</span></li>
  <li class="row"><span class="text-right col-sm-6 col-align-right">City: </span><span
      class="col-sm-6 col-align-left">{{supplier.city}}</span></li>
  <li class="row"><span class="text-right col-sm-6 col-align-right">Country: </span><span
      class="col-sm-6 col-align-left">{{supplier.country}}</span></li>
  <li class="row"><span class="text-right col-sm-6 col-align-right">Contact name: </span><span
      class="col-sm-6 col-align-left">{{supplier.contactName}}</span></li>
  <li class="row"><span class="text-right col-sm-6 col-align-right">Contact title: </span><span
      class="col-sm-6 col-align-left">{{supplier.contactTitle}}</span></li>
</ul>

</div>