<!DOCTYPE html>
<html ng-app="citiesApp">
<head>
  <title>A real factory example</title>
  <script src="/common/js/angular/angular.js"></script>
  <script src="real-factory-advanced.js"></script>
</head>
<body>
<div ng-controller="CityListCtrl">

  <label for="filter-city">Search for a city: </label>
  <input type="text" id="filter-city" ng-model="filterCity" autofocus="true"/>
  <button id="searchBtn" ng-click="getCities(filterCity)">Search!</button>
  <button ng-click="invalidateCache()">Invalidate cache</button>

  <ul ng-if="cities">
    <li ng-repeat="city in cities | orderBy: 'name'">{{ city.name }}</li>
  </ul>

</div>
</body>
</html>