<ul class="list-unstyled" ng-if="customer">
  <li class="row"><span class="text-right col-sm-6 col-align-right">Company Name: </span><span
      class="col-sm-6 col-align-left">{{customer.companyName}}</span></li>
  <li class="row"><span class="text-right col-sm-6 col-align-right">Contact Name: </span><span
      class="col-sm-6 col-align-left">{{customer.contactName}}</span></li>
  <li class="row"><span class="text-right col-sm-6 col-align-right">City: </span><span
      class="col-sm-6 col-align-left">{{customer.city}}</span></li>
  <li class="row"><span class="text-right col-sm-6 col-align-right">Country: </span><span
      class="col-sm-6 col-align-left">{{customer.country}}</span></li>
</ul>
