<div id="detail-view" class="col-sm-8">
  <p ng-hide="product">Product details will appear here</p>

  <div ng-show="product" class="col-sm-8 col-sm-offset-1">
    <h3>{{ product.productName }}</h3>
    <ul>
      <li>Price per unit: {{product.unitPrice}}</li>
      <li>Stock: {{product.unitsInStock}}</li>
      <li>Inventory value: {{product.unitPrice * product.unitsInStock | currency}}</li>
    </ul>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
      Buttons go here, eventually.
    </div>
  </div>
</div>
