<!DOCTYPE html>
<html ng-app="filterApp">
<head>
  <title>Reusable Custom Filter Example</title>
  <link rel="stylesheet" href="/common/css/bootstrap/bootstrap.css"/>
  <script src="/common/js/angular/angular.js"></script>
  <script src="custom-filter.js"></script>
</head>
<body ng-controller="FilterCtrl">
<h2>Baseball teams!</h2>

<div>
  <label for="howManyWins">How many wins, minimum?</label>
  <input ng-model="howManyWins" type="text" name="howManyWins"
         id="howManyWins"/>
</div>
<div ng-if="teams">
  <table class="table">
    <caption>A list of baseball teams</caption>
    <thead>
    <tr>
      <th>Team</th>
      <th>Won</th>
      <th>Lost</th>
      <th>Percentage</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="team in teams | betterThan:.5:howManyWins">
      <td>{{team.team}}</td>
      <td>{{ team.won }}</td>
      <td>{{ team.lost }}</td>
      <td>{{ team.win_percentage }}</td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>