<!DOCTYPE html>
<html ng-app="introApp">
<head>
  <title>A simple controller</title>
  <link rel="stylesheet" href="/common/css/local/local.css">
  <script src="/common/js/angular/angular.js"></script>
  <script src="js/controller-as.js"></script>
</head>
<!-- Reference the controller function with ng-controller -->
<body ng-controller="FirstCtrl as myCtrl">
<p>Here is foo, accessed via scope resolution:
  <span class="highlight">{{ foo }}</span></p>
  <p>Here is foo, accessed via controller resolution:
    <span class="highlight">{{ myCtrl.foo }}</span></p>

<p>Here are some names:</p>
<ul>
  <li ng-repeat="personName in myCtrl.names | filter:myCtrl.fName">{{ personName }}</li>
</ul>
<form>
  <label for="fName">Filter names: </label>
  <input id="fName" type="text" ng-model="myCtrl.fName"/>
</form>

</body>
</html>