<!DOCTYPE html>



<div class="form-group">
    <label class="col-sm-2 control-label" for="acctNum">Account Number: </label>

    <div class="col-sm-5">
        <input ng-model="cnt.acctNum" id="acctNum" type="number" class="form-control" required/>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="adjMon">Month to Adjust: </label>

    <div class="col-sm-5">
        <input ng-model="cnt.adjMon" id="adjMon"  jqdatepicker2
               placeholder="Month YYYY" type="text" class="form-control adjMon" required/>
    </div>



</div>



<div class="form-group">
    <label class="col-sm-2 control-label" for="actn">Action Options: </label>

    <div class="col-sm-5">
        <select  ng-model="cnt.actn" id="actn" type="text" class="form-control"
                 ng-options="action for action in actnOps"
                 required>

        </select>
    </div>
</div>




<div class="form-group">
    <label class="col-sm-2 control-label" for="miscInfo">
        Is this a “Misc $” adjustment? </label>

    <div class="col-sm-5">
        <input ng-model="cnt.miscInfo" id="miscInfo" type="checkbox" class="form-control" required/>
    </div>
</div>


<div class="form-group">
    <label class="col-sm-2 control-label" for="svcID">Service ID: </label>

    <div class="col-sm-5">
        <input ng-model="cnt.svcID" id="svcID" type="text" class="form-control" />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="svcVol">Volume: </label>

    <div class="col-sm-5">
        <input ng-model="cnt.svcVol" id="svcVol" type="number" class="form-control" />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="svcPrc">Price Per Unit: </label>

    <div class="col-sm-5">
        <input ng-model="cnt.svcPrc" id="svcPrc" type="number" class="form-control" />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="ttAdj">Total Adjust Amount: </label>

    <div class="col-sm-5">
        <input ng-model="cnt.ttAdj" id="ttAdj" type="number" class="form-control" />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="adjRes">Reason for Adjustment: </label>

    <div class="col-sm-5">
                    <textarea ng-model="cnt.adjRes" id="adjRes"  class="form-control"  rows="3" required>
                        </textarea>
    </div>
</div>